body {
    background-color: aliceblue;
    font-family: 'Ubuntu', 'Trebuchet MS', 'Calibri', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
.content {
    padding: 8px;
    margin: 8px;
    background-color: azure;
}
.excel {
    display: flex;
    flex: 1 1 auto;
    width:100%;
    height: 1024px;
}
/* navigation */
.headbar {
    background-color: azure;
    padding: 8px;
    margin: 8px;
    text-align: center;
}
.footbar {
    background-color: azure;
    padding: 8px;
    margin: 8px;
    text-align: right;
    font-size: 10px;
}
/* links */
 a:link {
    color: blue;
    text-decoration: none;
  }
  a:visited {
    color: blue;
    text-decoration: none;
  }
  a:hover {
    color: crimson;
    text-decoration: none;
  }
  a:active {
    color: darkred;
    text-decoration: none;
  } 

/* glossary contents */
.glossaryword {
  font-weight: bold;
}

/* home media table */
table
{
  border: 1px solid black;
  padding: 0px;
  width: 100%;
  border-collapse: collapse;
  background: white;
}
th, tr
{
  padding: 0px;
}
th
{
  font-size: 24px;
  font-weight: normal;
}
.table_infoheader
{
  font-weight: bold;
  text-align: center;
}
.table_infoheader td
{
  border: 1px solid black;
}
.table_release
{
  text-align: center;
}
.table_release td
{
  border: 1px solid black;
}
.table_releasetitle
{
  font-weight: 500;
}
.table_print_no
{
  background-color: lightcoral;
  color: brown;
}
.table_print_yes
{
  background-color:palegreen;
  color: green;
}

/* collector's guide tiers */
.tierheader {
  font-weight: bold;
}
.releaseheader {
  font-weight: bold;
  font-style: italic;
}