@import url(https://fonts.bunny.net/css?family=ubuntu:300,300i,400,400i,500,500i,700,700i);
@import url(https://fonts.cdnfonts.com/css/lemonmilk);

body {
    background-color: aliceblue;
    font-family: 'Ubuntu', 'Trebuchet MS', 'Calibri', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
.content {
    padding: 8px;
    margin: 0;
    background-color: azure;
}
#ltlogo {
  font-family: 'Lemon/Milk', 'Ubuntu', 'Trebuchet MS', 'Calibri', sans-serif;
  font-weight: bolder;
  color: white;
  text-shadow: -2px 2px 0 #000,
                2px 2px 0 #000,
                2px -2px 0 #000,
                -2px -2px 0 #000;
}
.footbar {
    background-color: rgb(78, 231, 231);
    padding: 8px;
    margin: 0;
    text-align: right;
    font-size: 10px;
}
/* links */
 a:link {
    color: blue;
    /* text-decoration: none; */
  }
  a:visited {
    color: blue;
    /* text-decoration: none; */
  }
  a:hover, a:focus {
    color: crimson;
    /* text-decoration: none; */
  }
  a:active {
    color: darkred;
    /* text-decoration: none; */
  } 
/* navigation */
.navlogo:link, .navlogo:visited, .navlogo:hover, .navlogo:focus, .navlogo:active {
  color: inherit;
  text-decoration: none;
}
.headbar {
    background-color: rgb(203, 255, 255);
    margin: 0;
}
.headbar h1 {
    padding: 8px 0;
    margin: 0;
}
.headbar h1 a
{
  transition: all 350ms;
}
.headbar h1 a:hover {
  filter:contrast(0.8);
}
.headbar h1 a:active {
  filter:contrast(0.5);
}
.headbar .navigation {
    overflow: hidden;
    background-color: rgb(145, 213, 240);
    width: 100%;
}
.headbar .navigation a, .headbar .navigation p {
    float: left;
    display: block;
    background-color: rgb(145, 213, 240);
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0;
}
.navigation_dropdown .navigation_dropbtn, .navigation_dropdown .navigation_dropdown_content a, .headbar .navigation a {
  transition: background-color 350ms, color 350ms;
}
/* hover events */
.headbar .navigation a:hover, .navigation_dropdown:hover .navigation_dropbtn, .navigation_dropdown .navigation_dropdown_content a:hover {
  background-color: #003ec5;
  color: white;
}
.headbar .navigation a:active, .navigation_dropdown:active .navigation_dropbtn, .navigation_dropdown .navigation_dropdown_content a:active {
  background-color: #050044;
  color: white;
}