body {
    background-color: aliceblue;
    font-family: 'Ubuntu', 'Trebuchet MS', 'Calibri', sans-serif;
}
.content {
    padding: 8px;
    margin: 8px;
    background-color: azure;
}
.footbar {
    background-color: azure;
    padding: 8px;
    margin: 8px;
    text-align: right;
    font-size: 10px;
}